# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot (Go)/*
!/Simple Chat Bot (Go)/task/
/Simple Chat Bot (Go)/task/*
!/Simple Chat Bot (Go)/task/main.go
